#Ignore all

/*
/node_modules

#Whitelist

!/i3
!/neofetch
!/nitrogen
!/polybar
!compton.conf
!/alacritty
!/backgrounds
!/screenshots
!/nvim
!/coc
!.gitignore
!/sharedConf

node_modules
coc-clangd-data
